/* Manifest ------------ */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Arsenal|Noticia+Text");
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
/* Mixins -------------- */
/* Typography ------------------- */
@font-face {
  font-family: DinBlack;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.woff2") format("woff2"); }

@font-face {
  font-family: DinBold;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldItalic.woff") format("woff"), url("../fonts/DINNextLTPro-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavyItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-HeavyItalic.woff") format("woff"), url("../fonts/DINNextLTPro-HeavyItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavy;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: DinItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2"); }

@font-face {
  font-family: DinLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinLightItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinMedium;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinRegular;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLight.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightIt;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightIt.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightIt.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedBold;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Bold.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedLight;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Light.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedMedium;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Medium.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedRegular;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Regular.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: GeoLight;
  font-style: normal;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2"); }

body {
  font-family: "Noticia+Text", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d4d4d42e;
  padding: 30px; }

h1, h2, h3, h4 {
  font-family: "Arsenal", "sans-serif"; }

hr {
  border-top: 1px solid #979eab; }

hr:last-child {
  border-top: 1px solid #e0e2e4e0;
  margin-bottom: 0px; }

.container {
  margin: 0px; }

.border-bottom {
  padding-left: 18px; }
  .border-bottom ul {
    display: -webkit-box;
    list-style: none; }
    .border-bottom ul a {
      padding-left: 5px; }
    .border-bottom ul a:hover {
      color: blue; }

.screen-reader-text {
  display: none; }

.pagination {
  padding-top: 2em;
  padding-bottom: 2em; }

@media (max-width: 1024px) {
  .nav-links a {
    padding-left: 5px;
    padding-right: 5px; } }

.contact-form {
  max-width: 400px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  position: relative; }
  .contact-form .error {
    color: red; }
  .contact-form .success {
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 14px; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: rgba(249, 249, 249, 0.72);
  padding: 25px; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

.large-nav {
  padding-left: 40px;
  width: 100%;
  bottom: 0; }
  .large-nav li a {
    font-size: 20px;
    letter-spacing: 3px;
    color: #2b2c2d; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent !important; }

#navbar ul li a:hover {
  color: #999; }

.mainNavigation {
  padding-top: 0px; }
  @media (min-width: 1025px) {
    .mainNavigation {
      padding-top: 17em; } }

@media (max-width: 1025px) {
  .navbar-lg {
    display: none; } }

@media (min-width: 1024px) {
  #navbar-sm {
    display: none; } }

/* Wrappers -------------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 220px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper::-webkit-scrollbar {
  display: none; }

#wrapper.toggled #sidebar-wrapper {
  width: 220px; }

#page-content-wrapper {
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px; }

/* Sidebar nav styles -------------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 1024px) {
    .sidebar-nav li {
      padding-bottom: 30px;
      padding-top: 10px; } }

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a; }

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px; }

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

/* Hamburger-Cross -------------------------------------*/
.hamburger {
  position: fixed;
  top: 35px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: transparent;
  border: none; }

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none; }

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open .hamb-middle {
  display: none; }

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/* Overlay -------------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1; }

.header-bkgd-img {
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.name-search {
  padding-top: 2em; }
  @media (min-width: 1025px) {
    .name-search {
      padding-top: 6em; } }
  .name-search h1 {
    margin-top: 0px;
    text-align: center;
    letter-spacing: 3px; }
    @media (min-width: 1025px) {
      .name-search h1 {
        padding-left: 40px;
        text-align: left; } }
  .name-search h3 {
    margin-top: 0px;
    padding-left: 40px;
    font-size: 15px;
    letter-spacing: 3px; }
    @media (max-width: 1024px) {
      .name-search h3 {
        text-align: center;
        padding-left: 0px;
        color: #fff;
        font-weight: bold;
        text-shadow: 0px 2px 14px #000; } }
  .name-search #searchform {
    text-align: center;
    padding-top: 17em; }
    @media (min-width: 1025px) {
      .name-search #searchform {
        float: right;
        padding-top: 0px;
        padding-right: 40px; } }

footer {
  border-top: solid 1px; }
  @media (min-width: 1025px) {
    footer {
      padding-bottom: 30px; } }

.bottomMenu {
  padding-top: 20px; }
  .bottomMenu ul {
    display: inline;
    float: left;
    padding-left: 0px; }
    .bottomMenu ul li {
      border-right: thin solid #2b2c2d;
      list-style-type: none;
      display: inline; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #2b2c2d;
        font-size: 13px;
        padding: 5px;
        letter-spacing: 2px; }
        @media (min-width: 1024px) {
          .bottomMenu ul li a {
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 15px;
            text-decoration: none;
            font-weight: bold;
            padding: 0 7px 0 3px; } }
        .bottomMenu ul li a:hover {
          color: #999;
          text-decoration: underline; }

.copyright {
  padding-top: 20px;
  text-align: right; }
  @media (max-width: 1024px) {
    .copyright {
      display: inline-block;
      padding-top: 40px; } }

.about h2 {
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  word-spacing: 4px; }

.about p {
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 30px; }

.parts-title h1 {
  text-align: center;
  letter-spacing: 2px; }

.parts-fp-content .col-md-4 {
  padding-bottom: 50px; }

.part-title h3 {
  text-align: center;
  letter-spacing: 1px; }

.part-image img {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    .part-image img {
      width: 200px;
      height: 200px; } }
  @media (min-width: 1025px) {
    .part-image img {
      width: 300px;
      height: 300px; } }

@media (min-width: 768px) {
  .container {
    width: unset; } }

.single-parts-container {
  padding-bottom: 2em; }

.sgl-part-title h3 {
  margin-top: 30px;
  text-align: center; }

.sgl-left-col,
.sgl-right-col {
  padding-bottom: 30px; }
  @media (min-width: 1025px) {
    .sgl-left-col,
    .sgl-right-col {
      padding-top: 30px; } }

.sgl-left-col .post-thumbnail img {
  width: 100%;
  height: 100%; }

.sgl-right-col p {
  margin-top: 20px; }

.img-gallery li {
  list-style: none; }

.img-gallery img {
  max-width: 100%;
  margin-left: -25px; }

@media (max-width: 768px) {
  .col-md-12, .col-sm-5 {
    padding-left: 0px;
    padding-right: 0px; }
  .excerpt-title h2 {
    text-align: center; } }

.search-title h1 {
  text-align: center;
  letter-spacing: 3px; }

.blog-post {
  padding-top: 30px;
  padding-bottom: 30px; }

.featured-image img {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=app.css.map */
